  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@300;500;700;900&display=swap');

  :root {
      --main-color: #0078ff;
  }

  body {
      background-color: #f5f5f5;
      font-family: 'Noto Sans', sans-serif;
  }

  li {
      list-style: none;
  }

  a {
      text-decoration: none;
      color: #1e1e1e;
  }


  .main-header h3 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
  }

  .main-header p {
      color: #4e4e4e;
  }

  .header-line {
      width: 40px;
      height: 5px;
      background-color: var(--main-color);
      margin: auto;
  }


  /********** start home **********/
  .navbar {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
  }

  .navbar-brand {
      font-size: 28px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      letter-spacing: 1px;
  }


  .nav a {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      white-space: nowrap;
      transition: 0.3s;
      letter-spacing: 0.4px;
      position: relative;
      text-transform: uppercase;
  }

  .dropdown ul li a {
      color: black;
  }

  .nav ul li {
      padding: 10px 0 10px 30px;
  }

  .nav ul li a::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: #fff;
      transition: all 0.3s ease-in-out 0s;
  }

  .nav ul li .active::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: #fff;
      transition: all 0.3s ease-in-out 0s;
  }

  nav ul li:hover a::before {
      width: 80%;
  }


  header {
      background-image: url(../images/hero-bg.jpg);
      background-position: center center;
      background-size: cover;
  }

  .layer {
      display: flex;
      align-items: center;
      text-align: center;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);

  }


  .home-content {
      color: #fff;
  }

  .home-content h1 {
      font-size: 4rem;

  }

  .home-content span {
      margin-top: 50px;
      font-size: 1.5rem;

  }

  .home-content span::after {
      content: '|';
      animation: 1s typing infinite;
  }

  @keyframes typing {
      0% {
          content: 'D|';
      }

      7% {
          content: 'De|';
      }

      14% {
          content: 'Des|';
      }

      21% {
          content: 'Desi|';
      }

      28% {
          content: 'Desig|';
      }

      35% {
          content: 'Design|';
      }

      42% {
          content: 'Designe|';
      }

      49% {
          content: 'Designer|';
      }

      56% {
          content: 'Designe|';
      }

      63% {
          content: 'Design|';
      }

      70% {
          content: 'Desig|';
      }

      77% {
          content: 'Desi|';
      }

      84% {
          content: 'Des|';
      }

      91% {
          content: 'De|';
      }

      98% {
          content: 'D|';
      }

      100% {
          content: '|';
      }

  }

  /********** end home **********/
  /********** start about **********/

  #about {
      margin-top: 48px;
  }

  #about .container {
      padding: 64px 48px;
      margin-bottom: 48px;
      background-color: #fff;
  }

  #about .title-s {
      font-weight: 600;
      color: rgb(30, 30, 30);
      font-size: 17.6px;
  }

  #about .skill-mf .progress {
      background-color: rgb(205, 225, 248);
      margin: 8px 0px 19px;
      border-radius: 0px;
      height: 11px;
  }


  #about .title-left h5 {
      font-size: 2rem;
      position: relative;
      margin-bottom: 48px;
  }

  #about .title-left h5::before {
      content: '';
      width: 100px;
      height: 3px;
      background-color: var(--main-color);
      position: absolute;
      bottom: -12px;
      left: 0;
  }

  /********** end about **********/
  /********** start services **********/
  .card {
      background-color: #fff;
      padding: 40px 20px;
      margin: 20px 0;
      border: none;
      border-radius: 16px;
      box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
      transition: all 3s;
  }

  .card .icons {
      margin-bottom: 16px;
  }

  .card .icons span {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #0078ff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      margin: auto;
  }

  .card:hover .icons span {
      background-color: var(--main-color);
      box-shadow: 0 0 0 10px #cde1f8;
      color: #fff;
  }

  /* 
.card .icons:hover i {
    color: #fff;
} */


  .card .icons i {
      font-size: 40px;
  }

  .card .info h2 {
      font-size: 22px;
      text-transform: uppercase;
      padding: 6px 0;
  }

  .card .info p {
      color: #4e4e4e;
  }

  /********** end services **********/
  /********** start counter **********/

  #counter {
      margin-top: 48px;
      background-image: url(../images/post-3.jpg);
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
  }

  #counter .overlay {
      min-height: 60vh;
      background-color: var(--main-color);
      opacity: 0.7;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  #counter .counter-icon span {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #cde1f8;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

  }

  #counter .counter-info p {
      font-size: 32px;
      padding-top: 15px;
      margin-bottom: 0;
  }

  /* #counter .counter-info span{
    padding-bottom: 15px;
}
 */

  .card-body {
      background-color: #fff;
      padding: 32px 12px 16px 16px;
  }

  /********** end counter **********/

  /********** start portfolio **********/
  #portfolio {
      margin-top: 48px;
  }

  .portfolio-card {
      overflow: hidden;
      transition: all 3s;

  }

  .card-img {
      overflow: hidden;

  }

  .portfolio-card img {
      transition: all 1s;
  }


  .portfolio-card:hover img {
      transform: scale(1.3);
  }

  .portfolio-card .card-title {
      font-size: 19px;
  }


  .portfolio-card .card-info span {
      color: #4e4e4e;
      font-size: 12px;
  }

  .portfolio-card .card-info .w-ctegory {
      color: var(--main-color);
  }

  .portfolio-card .card-icon {
      height: 35px;
      width: 35px;
      border: 3px solid #0078ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  /********** end portfolio **********/
  /********** start testimonial **********/
  #testimonial {
      margin-top: 48px;
      position: relative;
      min-height: 90vh;
      padding: 8rem 0;
      background-image: url(../images/overlay-bg.jpg);
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
  }

  #testimonial .overlay {
      height: 100%;
      width: 100%;
      background-color: var(--main-color);
      position: absolute;
      top: 0;
      left: 0px;
      padding: 0;
      opacity: 0.7;
  }


  .inner .author {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      margin: 16px 0;
      display: block;
      font-size: 22px;
  }

  /********** end testimonial **********/
  /********** start blog **********/

  #blog {
      margin-top: 48px;
  }

  .blog-card {
      margin-top: 48px;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 6px;
      background-color: #fff;
  }

  .blog-card .card-img {
      cursor: pointer;
  }

  .blog-card .card-body {
      position: relative;

  }

  .blog-card .card-body .card-box {
      text-align: center;
      margin: auto;
      display: inline-block;

  }

  .blog-card .card-body .card-box h6 {
      width: fit-content;
      font-size: 16px;
      background-color: var(--main-color);
      position: absolute;
      padding: 0 15px 5px;
      top: -12px;
      left: 50%;
      transform: translatex(-50px);
      border-radius: 4px;
      display: inline-block;
      letter-spacing: 0.1px;
      margin-bottom: 0px;
  }

  .blog-card .card-body a {
      font-size: 20px;
      margin-top: 10px;
      transition: all 0.3s;
  }

  .blog-card .card-body a:hover {
      color: var(--main-color);
  }

  .blog-card .card-body p {
      color: #4e4e4e;
  }

  .card-footer {
      background-color: rgba(0, 0, 0, 0.03);
      padding: 8px 16px;
  }

  .card-footer .post-author .avatar {
      width: 32px;
      margin-right: 4px;
      overflow: hidden;
  }

  .card-footer .post-author span:hover {
      transition: all 0.3s;
  }

  .card-footer .post-author span:hover {
      color: var(--main-color);
  }

  /********** end blog **********/

  /********** start contact **********/
  #contact {
      margin-top: 5rem;
      min-height: 100vh;
      background-image: url(../images/overlay-bg.jpg);
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      position: relative;
  }

  #contact .overlay {
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      position: absolute;
      top: 0;
      left: 0px;
      opacity: 0.7;
      padding: 0;
  }

  #contact .overlay .container {
      margin-top: 64px;
  }

  .contact {
      margin-top: 5rem;
      padding: 48px 20px;
      position: relative;
      background-color: #fff;
      margin-bottom: 3rem;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.2);
  }

  .title {
      font-size: 32px;
      position: relative;
      color: #1e1e1e;
  }


  .title::before {
      content: '';
      width: 100px;
      height: 3px;
      background-color: var(--main-color);
      position: absolute;
      bottom: -12px;
  }

  .contact-form {
      margin-top: 40px;
  }

  .contact-form input {
      border-radius: 0;
  }

  .contact-form textarea {
      padding: 12px 15px;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.175);
  }


  .contact-form button {
      background: var(--main-color);
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 30px;
  }

  .contact-form button:hover {
      background: #3393ff;
  }

  .lead {
      margin-top: 40px;
  }

  .list-ico {
      padding: 0;
      margin: 0;
      line-height: 2;
  }

  .list-ico i {
      color: var(--main-color);
      margin-right: 10px;
  }

  .list-ico li span {
      color: #1e1e1e;
  }


  .list-ico span {
      color: #1e1e1e;
  }

  .socials ul li a {
      height: 45px;
      width: 45px;
      border: 3px solid #0078ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .socials ul li:hover a {
      background-color: var(--main-color);
      border-color: #cde1f8;
      color: #fff;
  }

  .socials ul {
      margin: 15px 0;
      padding: 0;
  }

  /********** end contact **********/

  /********** start footer **********/
  footer {
      text-align: center;
      color: #fff;
      padding: 25px 0;
      background: #0062d3;
  }

  footer .copyright-box p {
      margin-bottom: 5px;
  }

  footer .credits a {
      color: #fff;
  }

  /********** end footer **********/